<configuration>
  <appSettings>
    <add key="dbConnectionString" value="Data Source=SHURWP0009;Initial Catalog=QualityTasksApp;Trust Server Certificate=true;user id=DotNetProcess;password=D0tNet"/>
    <add key="role" value=""/>
    <add key="email" value=""/>
    <add key ="firstName" value =""/>
    <add key ="lastName" value =""/>
  </appSettings>
</configuration>